---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---


<!-- Intro text/Welcome command -->
<section class="terminal">
  <br />
  <!--Fake text that shows that the welcome command has been entered-->
  <p class="welcomeCommand">
    <span class="guest">guest</span>@alex-berry.net:~$ welcome
  </p>
  <br/>

  <!--ascii art of my face-->
  <div class="asciiMe">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▒▒▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▒▒▒▓▒▒▒▒▒▒▒▓▒▒▒▒▓▓▒▒▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▒▓▓▒▒▒▒▒▒▓▓▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▒▒▒▒▓▓▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▒▒▒▒▓▓▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▒▓▒▒▒▓▓▒▒▒▒▒▓▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▓▓▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▒▓▓▒▒▒▓▓▓▒▓▓▓▒▒&nbsp&nbsp▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▓▓▒▒▒▓▓▓▓▓▒▒▒▒▓▒▒▒&nbsp&nbsp&nbsp▒▒▒▓▒▓▒▒▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▓▓▓▓▒▒▒▒▓▓▓▓▓▒▒▒&nbsp▒▒▒&nbsp&nbsp&nbsp&nbsp▒▒&nbsp▒▒▒&nbsp▒▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▒▓▓▒▒▒▒▒▒▒▓▓▓▓▓▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp▒▒&nbsp▒▒▒▒&nbsp▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▒▒▒▒▓▓▒▒▒▒▒▒▒▓▓▓▓▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▓▒▒▓▒▒▒▒▒▒▓▓▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▒▒▓▓▒▒▓▓▒▓▓▒▒▒▒▒▓▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒&nbsp▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▓▒▒▓▓▓▒▒▓▓▒▒▓▒▒▒▒▒▓▓▓▒▒&nbsp&nbsp&nbsp▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒&nbsp&nbsp&nbsp▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▓▓▓▒▒▓▓▒▒▓▓▒▒▒▒▓▓▓▓▒&nbsp&nbsp&nbsp&nbsp▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▒▓▓▒▒▓▒▒▒▓▒▒▒▒▓▓▓▓▓▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▒▒▒▓▓▒▒▓▓▓▓▒▒▓▓█▓▓▓▓▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▓▓▓▓▓█▓▓▓▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▒▒▒▒▓▓▓▒▒▓▓▓▓▓██████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓███▓▓▓▓▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▒▒▒▒▓▓▓▒▒▓▓▒▓████████▓▒&nbsp▒▒▒▒▒▒▒▒&nbsp▒▒▓███████▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▒▒▓▓▒▒▒▒▓▒▒▒▒▓▒▒▓█████████▓▒▒▒▒▒▒▒▒▒▓▓▓███████████▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▓▓▒▒▒▓▓▒▒▓▓▒▒▒▒▓▒▓▓███████████▓▓▒▒▓▓▓▓████████████▓█▓▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▓▒▒▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▒▒▓▓▒▒▓▓▓▓▓▓▓▒▒▒▓▒▓▓▓██████████▓▓▓▓▓▓▓▓██████████▓▓▓▓▒▒▒▓▓▓▓▓▒▒▒▒▒▓▓▓▓▓▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓▓▓█████████▓▓▓▓▓▓▓▓▓████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓█▓▓▓▓▓███████▓▓▓▓▓▓██▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▓████▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓█▒&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  </div>
  <!-- Dark pink text called "weclometxt" that gives a basic into to myself -->
  <div class="welcomeText">Hi, I'm Alex.</div>
  <div class="welcomeText">Welcome to my website.</div>
  <div class="welcomeText">
    Above this if you couldn't tell is an ascii image of me, and below is a list of blog-posts and then below that is a terminal emulator.
    If you know how to, I would suggest having a play with the file system inside the terminal emulator.
    Have fun :)
  </div>
  <br />
  <!--Fake text that shows that the not working blogposts command has been entered-->
  <p class="welcomeCommand">
    <span class="guest">guest</span>@alex-berry.net:~$ blogposts
  </p>
  <br />
  <!--Fake output of "blogposts" command-->
  <div class="welcomeText">
    Here are a list of blog posts about the projects I've
    done:
  </div>
  <div class="welcomeText">
(I have not had the time to write any more recently. More posts to come... Hopefully...) -- 22nd Nov 2023
  </div>
  <br />
  <!-- Code that lists all the blog posts -->
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />-
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>

        ))
      }
    </ul>
  </section>
  <br />
  <!-- Text that gives some starter commands for new users -->
  <p class="actualListCmds">
    <br />For a list of the commands, type
    <span class="help-Text">"help"</span>, for some info about me, type
    <span class="help-Text">"aboutme"</span>.
  </p>
  <br />
  <div class="content"></div>

  <!--Input field-->
  <div id="txt">
    <p class="path">guest@alex-berry.net:~$</p>
    <div class="cursor">
      <input type="text" class="txt-Input" autofocus />
      <i></i>
    </div>
  </div>
</section>
<!-- CSS -->
<style>
  :global(*) {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    background: #211d1b;
    position: relative;
  }

  li {
    margin-top: 1%;
    margin-left: 7px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #1793d0;
    font-size: 1em;
    flex: 1;
  }

  .terminal {
    padding: 50px;
  }

  a {
    color: #1793d0;
  }

  body {
    color: #34be5b;
    background: #211d1b;
  }

  .welcomeCommand {
    display: block;
    position: relative;
  }

  :global(.asciiMe) {
    position: relative;
    font-family: monospace;
    white-space: pre;
    font-size: .8em;
    color: #1793d0;
    text-align: center;
  }

  :global(.welcomeText) {
    position: relative;
    font-family: monospace;
    font-size: 1.25em;
    color: #ffb6c1;
    text-align: center;
  }

  .actualListCmds {
    position: relative;
    padding-bottom: 0.4em;
    color: #db6a6c;
    text-align: left;
  }

  .help-Text {
    color: #506f95;
  }

  #txt {
    display: flex;
  }

  .txt-Input {
    margin-top: 1px;
    margin-left: 7px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #1793d0;
    font-size: 1em;
    flex: 1;
  }

  .cursor {
    position: relative;
    flex: 1;
    display: flex;
  }
  .cursor i {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: gray;
    left: 5px;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  .cursor input:focus + i {
    display: none;
  }

  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .welcomeText {
    position: relative;
    padding-bottom: 0.4em;
    color: #db6a6c;
  }
  ul {
    list-style-type: none;
    color: #1793d0;
    padding-left: 30%;
  }
</style>

<script>


  let input = document.querySelector(".txt-Input") as HTMLInputElement;
  let content = document.querySelector(".content") as HTMLElement;
  let clear = document.getElementsByClassName(".clear");

  // The file structure for my file system, mostly done with objects

  const directories = {
    Home: {
      Desktop: {
        Homework: {
          tysm: "Thanks so much for exploring my website.",
        },
        helloworld: "Hello World!",
      },

      Documents: {
        CV: "Here's the place where hopefully when I can be bothered I'll link to my CV again.",

        privatekey: "test",
      },
      Pictures: {},
      Videos: {
        Nevergonnagiveyouup: "We're no strangers to love. You know the rules and so do I. A full commitment's what I'm thinking of You wouldn't get this from any other guy",
      },
    },
  };

  //  Sets the current directory to Home

  let currentDirPath: string[] = ["Home"];

  function escapeHtml(unsafe: string) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }

  //  Function that gets the current directory

  function getcurrentdir() {
    let checkingDir: any = directories;
    let i = 0;
    do {
      // sets dirName to the last  in the path
      const dirName = currentDirPath[i];

      // sets the contents of checking to dirName
      checkingDir = checkingDir[dirName];
      i++;
    } while (i < currentDirPath.length);
    return checkingDir;
  }

  input?.addEventListener("keydown", handleCommand);

  // The function that takes the inputted command, splits it into the first and second word, gets rid of extra spaces, then executes the executeCommand function with the first and second word as the parameters as a string

  function handleCommand(event: any) {
    if (event.key == "Enter") {
      if (input !== null) {
        // declares a constant command variable and lets it to be the text that was inputted
        const command = escapeHtml(input.value);
        // Declares a constant variable args, then splits it and turns it into an array based on spaces
        const args: any = command
          .split(" ")
          .filter((value) => value.length > 0);
        // adds a line html saying giving the command that has been just run
        content.innerHTML += `<p>guest@alex-berry.net:~$ ${command}</p><br>`;
        // executes the command with the parameters args and sets the input value to empty
        executeCommand(args);
        input.value = "";
      }
    }
  }

  // Function for handling commands
  async function executeCommand(args: string[]) {
    switch (args[0].toLowerCase()) {
      
      // "help" command

      case "help":
        content.innerHTML +=
          '<p class="commandResult">Available commands:</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"help" - shows a list of available commands</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"aboutme" - gives some info about me</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"welcome" - displays the welcome text again</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"aboutme" - gives some info about me</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"cv" - gives a link to my CV/resume with some info taken out</p><br>';
        content.innerHTML +=
          '<p class="commandResult">For these next commands I have tried to do a VERY basic simulation of a linux filesystem. In future I plan to make it better but like the rest of the website it is a work in progress. You can navigate it using these commands:</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"pwd" - Prints the working directory (shows the folder you are in)</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"ls" - lists all the folders and/or files inside the current directory.</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"cd" - changes the current directory/folder you are in, this is to be used but typing "cd (the folder name you want to navigate to that is inside the current folder)" or "cd /Home/guest/(What directory you want to naviagte to)/(the optional directory that may be inside the directroy)" and if you want to go up a directory use "cd .." Please note, the folder names must be case sensitive. (This is an intentional design decision.)</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"cat" - views the contents of a text file. This is to be done by typing "cat (name of text file excluding the .txt)"</p><br>';
        content.innerHTML +=
          '<p class="commandResult">"touch" - creates a new empty text file. This is do me done by typing "touch (Name of text file you want to create excluding .txt)"</p><br>';
          content.innerHTML +=
          '<p class="commandResult">"mkdir" - creates a new directory with empty contents. This is to be done by typing "mkdir (Name of directory you want to create)"</p><br>';
          content.innerHTML +=
          '<p class="commandResult">"append" - appends text you specify to a text file you specify. This is to be done by doing append (Name of text file excluding .txt) (Text you want to append)</p><br>';
          content.innerHTML +=
          '<p class="commandResult">"clear" - clears all commands above</p><br>';
        content.innerHTML +=
          '<p class="commandResult">Commands are case insensitive but locations of folders for "cd" and names of text files for the text file commands are not.</p><br>';
          scrollTo(0, document.body.scrollHeight)
          break;

      // "cv" command

      case "cv":
        content.innerHTML +=
          '<p class="commandResult"><a href="https://drive.google.com/file/d/1KHfj9ISs_SBIRM0iVSVFcBUlefUYkdab/view?">Here is a link to my CV.<a> I would happily accept advice or if however unlikely you are an employer a job offer. <a href="mailto:me@alex-berry.net">Just email me<a></p><br>';
            scrollTo(0, document.body.scrollHeight)
            break;

      // "aboutme" command

      case "aboutme":
        content.innerHTML += `<p class="commandResult">Welcome to my website. I am Alex, a WHS student in year 11 in NZ. </p>
            `;
        content.innerHTML += `<p class="commandResult">I created this website as a kind of portfolio of my tech projects as I discovered that for some of them there isn't really a guide. </p> `;
        content.innerHTML += `<p class="commandResult"><p class="commandResult">Anyway, heres some other links to my profiles and my email.</p>`;
        content.innerHTML += `
            <a href="https://github.com/AlexBerry0">Github<a>
            <br><a href="https://instagram.com/alex_berry_0">Instagram<a>
            <br><a href="mailto:me@alex-berry.net">Email<a>`;
              scrollTo(0, document.body.scrollHeight)

        break;

      // Permanently unlisted demo command that I used as a template for new commands that I've left in as a secret command

      case "demo":
        content.innerHTML += '<p class="commandResult">Hello :)</p><br>';
        scrollTo(0, document.body.scrollHeight)
        break;


      // "sources" command

      case "sources":
        content.innerHTML +=
          '<p class="commandResult">I have a lot of people to credit for help and/or inspiration here a list of some of them and where it is relevant links to their stuff.</p><br>';
        content.innerHTML += `<a href="https://github.com/TufoT">TufoT</a><p class="commandResult"></p> For inspiration for the websites styling from their CMDo project.</p><br>`;
        content.innerHTML += `<a href="https://github.com/zadeviggers">Zade<a/><p class="commandResult"></p> For general help with all my stupid Astro and JS questions.</p><br>`;
        content.innerHTML += `<a href="https://astro.build/">Astro<a/><p class="commandResult"></p> For use of their web framework and bits of their blog theme for the blog section of my website.</p><br>`;          scrollTo(0, document.body.scrollHeight)
        break;

      // "welcome" command

      case "welcome":
        content.innerHTML += `
        <section class="terminal">
    <br>
    <div class="asciiMe">
                                         ▒▒▒▒▒▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒                                    
                                       ▒▓▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▓▒                                 
                                    ▒▒▓▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒                                
                                  ▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒                              
                                 ▓▒▒▒▓▒▒▒▒▒▒▒▓▒▒▒▒▓▓▒▒▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒                            
                                 ▓▒▓▓▒▒▒▒▒▒▓▓▒▒▒▒▓▒     ▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▓▒                           
                                 ▓▓▓▒▒▒▒▓▓▒▒▒▒▒▒▓▒      ▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒                          
                                 ▓▓▒▒▒▒▓▓▒▒▒▒▒▒▓▒        ▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▓                          
                                ▓▒▓▒▒▒▓▓▒▒▒▒▒▓▓▒▒         ▒▒▓▓▓▒▒▒▒▒▒▒▒▒▒▓▒                         
                               ▓▒▓▓▒▒▒▓▓▓▒▓▓▓▒▒  ▒      ▒▒▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒▓▒                        
                             ▒▓▒▓▓▒▒▒▓▓▓▓▓▒▒▒▒▓▒▒▒   ▒▒▒▓▒▓▒▒▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▒▒                     
                          ▒▒▓▓▓▓▓▒▒▒▒▓▓▓▓▓▒▒▒ ▒▒▒    ▒▒ ▒▒▒ ▒▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▒                    
                       ▒▓▒▒▒▓▓▒▒▒▒▒▒▒▓▓▓▓▓▒▒▒▒▒▒▒    ▒▒ ▒▒▒▒ ▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓                   
                       ▓▒▒▒▒▓▓▒▒▒▒▒▒▒▓▓▓▓▓▒▒         ▒▒      ▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▓▒              
                       ▒▓▒▒▓▓▓▒▒▓▒▒▒▒▒▒▓▓▓▒▒          ▒      ▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓              
                     ▒▒▓▒▒▓▓▒▒▓▓▒▓▓▒▒▒▒▒▓▓▒▒      ▒▒ ▒       ▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒               
                   ▒▒▓▓▒▒▓▓▓▒▒▓▓▒▒▓▒▒▒▒▒▓▓▓▒▒   ▒      ▒▒   ▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒                
                      ▒▓▒▓▓▓▒▒▓▓▒▒▓▓▒▒▒▒▓▓▓▓▒    ▒▒▒▒▒     ▒▓▓▓▓▓▓▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒               
                    ▒▓▒▒▓▓▒▓▓▒▒▓▒▒▒▓▒▒▒▒▓▓▓▓▓▒▒           ▒▓▓▓▓▓▓▓▓▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓              
                   ▒▓▒▒▓▓▒▒▒▓▓▒▒▓▓▓▓▒▒▓▓█▓▓▓▓▒▒▒▒▒     ▒▒▒▓▓▓▓▓█▓▓▓▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒              
                  ▒▓▒▒▓▓▒▒▒▒▓▓▓▒▒▓▓▓▓▓██████▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓███▓▓▓▓▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒               
                  ▒▓▒▒▓▓▒▒▒▒▓▓▓▒▒▓▓▒▓████████▓▒ ▒▒▒▒▒▒▒▒ ▒▒▓███████▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒               
                  ▒▓▒▒▓▓▒▒▒▒▓▒▒▒▒▓▒▒▓█████████▓▒▒▒▒▒▒▒▒▒▓▓▓███████████▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒              
                ▒▒▓▓▒▒▒▓▓▒▒▓▓▒▒▒▒▓▒▓▓███████████▓▓▒▒▓▓▓▓████████████▓█▓▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▓▒▒▓▒         
                ▒▒▒▓▓▒▒▓▓▓▓▓▓▓▒▒▒▓▒▓▓▓██████████▓▓▓▓▓▓▓▓██████████▓▓▓▓▒▒▒▓▓▓▓▓▒▒▒▒▒▓▓▓▓▓▓▒          
                   ▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓▓▓█████████▓▓▓▓▓▓▓▓▓████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒            
                    ▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓█▓▓▓▓▓███████▓▓▓▓▓▓██▓▓▓▓▓▓▓▓                    
                 ▒▓▓▓▓▓▓▓▓▓▓▓▓████▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▒                   
                ▒▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓                   
                ▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                  
               ▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒                 
               ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                 
              ▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▒                
             ▒▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓                
             ▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█                
            ▒▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▒               
            ▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓               
           ▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▒              
           ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓              
          ▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓█▒             
          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓             
         ▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓             
       </div>
        <div class="welcomeText">
Hi, I'm Alex.
</div>
<div class="welcomeText">
Welcome to my website. 
</div>
<div class="welcomeText">
  Above this if you couldn't tell is an ascii image of me, and below is a list of blogposts and then below that is a terminal emulator.
    If you know how to, I would suggest having a play with the file system inside the terminal emulator.
    Have fun :)
        </div>
        
        
        
        `;
        scrollTo(0, document.body.scrollHeight)
        break;

      // Unlisted not working "blogposts" command because it would require an almost complete rewrite of this page

      case "blogposts":
        content.innerHTML += `<p class="commandResult">I'm sorry, I have tried for over 2 hours, making this command repeatable is just too hard, maybe in the future I will fix it but for now I can't be bothered. TYSM for understanding.</p><br>`;
        scrollTo(0, document.body.scrollHeight)
        break;


      // "clear" command

      case "clear":
        // clears all inner HTML items
        content.innerHTML = '<a id="clear"></a>';
        const before = document.getElementById("clear");
        scrollTo(0, document.body.scrollHeight)
        break;

        //  "echo command"
      case "echo":
        // Remove the 'echo' command
        args.shift();

        // Join the remaining args into a single string
        const commandToEcho = args.join(" ");

        if (commandToEcho !== undefined) {
          content.innerHTML += `${commandToEcho}<br>`;
        }
        scrollTo(0, document.body.scrollHeight)
        break;

      // File system commands:

      // The cd or Change directory command
      case "cd": {
        // Calls the function getcurrentdir and then sets the const currentDir to the result
        const currentDir = getcurrentdir();
        // if the contents of dirName include the inputted folder (args[1]) then push the contents of args[1] current dir path
        // if the contents of the inputted folder to switch to is ".." then take the last item out of the currentDirPath array and give the Directory that the user is now in
        if (args[1] == "..") {
          if (currentDirPath.length == 1) {
            content.innerHTML += `Permission Denied`;
            scrollTo(0, document.body.scrollHeight)
          } else {
            currentDirPath.pop();
            content.innerHTML += `You are now in /${currentDirPath.join("/")}`;
            scrollTo(0, document.body.scrollHeight)
          }
        }
        // If thats not the case then if the contents of the inputted directory to switch to starts with / then begin the code for navigating to a folder based
        else if (args[1].startsWith("/")) {
          const commandWithoutFirstCharacter = args[1].substring(1);
          const splitUpCommand = commandWithoutFirstCharacter.split("/");

          let checkingDir: any = directories;
          let tempPath: string[] = [];

          for (let i = 0; i < splitUpCommand.length; i++) {
            const dirName = splitUpCommand[i];

            if (checkingDir[dirName] != null) {
              checkingDir = checkingDir[dirName];
              tempPath.push(dirName);
              console.log(currentDirPath);
            } else {
              console.warn("Folder not found");
              content.innerHTML += `Folder: ${args[1]} can't be found. If you want to go up a directory try "cd .." or if you are unsure of how to use this command look at the help menu.`;
              scrollTo(0, document.body.scrollHeight)
              return;
            }
          }

          // If we get here, all directories in the path exist, so we can update currentDirPath
          currentDirPath = tempPath;
          console.log(`You are now in /${currentDirPath.join("/")}`);
          content.innerHTML += `You are now in /${currentDirPath.join("/")}`;
          scrollTo(0, document.body.scrollHeight)
          // If the first character is not / then if the directory the user specified is one of the objects within the current Directory then push the directory the user specified to the currentDirPath
        } else if (Object.keys(currentDir).includes(args[1])) {
          currentDirPath.push(args[1]);
          content.innerHTML += `You are now in /${currentDirPath.join("/")}`;
          scrollTo(0, document.body.scrollHeight)
        }
        // And if that isn't the case then this says the folder wasn't found and gives some help
        else {
          console.warn("Folder not found");
          content.innerHTML += `Folder: ${args[1]} can't be found. If you want to go up a directory try "cd .." or if you are unsure of how to use this command look at the help menu.`;
          scrollTo(0, document.body.scrollHeight)
        }

        break;
      }
      // The pwd or Print working directory command
      case "pwd":
        // logs the currentDirPath in text format
        content.innerHTML += `You are in /${currentDirPath.join("/")}`;
        break;

      // The ls or list command
      case "ls": {
        const currentDir = getcurrentdir();

        // Get keys of the current directory
        const itemsInDir = Object.keys(currentDir);

        // Go through each item in the directory
        itemsInDir.forEach((item) => {
          // Check if the current item is a string (file)
          if (typeof currentDir[item] === "string") {
            // It's a file, append .txt to its name
            content.innerHTML += `${item}.txt<br>`;
            scrollTo(0, document.body.scrollHeight)
          } else {
            // It's a directory, leave the name as is
            content.innerHTML += `${item}<br>`;
            scrollTo(0, document.body.scrollHeight)
          }
        });
        break;
      }

      // The "mkdir"
      case "mkdir": {
        // Check if a directory name is provided
        if (args.length < 2) {
          content.innerHTML += "Error: Directory name not provided<br>";
          scrollTo(0, document.body.scrollHeight)
          break;
        }

        const currentDir = getcurrentdir();
        const newDirName = args[1];

        // Check if the directory already exists
        if (currentDir[newDirName]) {
          content.innerHTML += `Error: Directory '${newDirName}' already exists<br>`;
          scrollTo(0, document.body.scrollHeight)
          break;
        }

        // Create the new directory
        currentDir[newDirName] = {};
        break;
      }

      // The "cat" command

      case "cat": {
        const currentDir = getcurrentdir();

        // Check if the file exists in the current directory
        if (typeof currentDir[args[1]] === "string") {
          const fileContent = currentDir[args[1]];
          content.innerHTML += `<p>${fileContent}</p><br>`;
          scrollTo(0, document.body.scrollHeight)
        } else {
          console.warn("File not found");
          content.innerHTML += `File: ${args[1]} can't be found. If you are unsure of how to use this command look at the help menu.`;
          scrollTo(0, document.body.scrollHeight)
        }

        break;
      }

      case "append": {
        const currentDir = getcurrentdir();

        // Check if the file exists in the current directory
        if (typeof currentDir[args[1]] === "string") {
          const textToAppend = args.slice(2).join(" "); // Get the rest of the command
          currentDir[args[1]] += textToAppend;
          content.innerHTML += `Appended to file: ${args[1]}`;
          scrollTo(0, document.body.scrollHeight)
        } else {
          console.warn("File not found");
          content.innerHTML += `File: ${args[1]} can't be found. If you are unsure of how to use this command look at the help menu.`;
          scrollTo(0, document.body.scrollHeight)
        }

        break;
      }

      case "touch": {
        const currentDir = getcurrentdir();

        // Check if the file exists in the current directory
        if (currentDir[args[1]]) {
          console.warn("File already exists");
          content.innerHTML += `File: ${args[1]} already exists.`;
          scrollTo(0, document.body.scrollHeight)
        } else {
          currentDir[args[1]] = ""; // Create an empty file
          content.innerHTML += `Created file: ${args[1]}`;
          scrollTo(0, document.body.scrollHeight)
        }

        break;
      }

      default:
        content.innerHTML += `Unknown command: ${args[0]}, for a list of commands type help.`;
        content.innerHTML += `<br>`;
        scrollTo(0, document.body.scrollHeight)
        break;
    }
  }
</script>